[submodule "MSNightmare/RoguePlanet"]
	path = MSNightmare/RoguePlanet
	url = https://github.com/MSNightmare/RoguePlanet
[submodule "MSNightmare/GreatXML"]
	path = MSNightmare/GreatXML
	url = https://github.com/MSNightmare/GreatXML
[submodule "MSNightmare/LegacyHive"]
	path = MSNightmare/LegacyHive
	url = https://github.com/MSNightmare/LegacyHive
[submodule "MSNightmare/PrettyPrague"]
	path = MSNightmare/PrettyPrague
	url = https://github.com/MSNightmare/PrettyPrague
